@charset "UTF-8";

.common-btn{
	background: #e53637;
	display: inline-block;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 10px 15px;
    margin: 5px;
}

.row .title__align__center{
	display: flex;
	align-items: center;
}

.text-align-left{
	text-align: left;
}

.thumb-list-profile img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.nav-align-center div{
    align-items: center;
}

.nav-item {
	margin-bottom: 1rem;
}


.box{
	padding : 18px 30px 16px 20px;
	background : #1d1e39;
	border-radius: 10px;
}

.box2{
	padding : 18px 30px 16px 20px;
}

.ul > li {
	padding: 0.25rem 0 0.25rem 0.75rem;
	list-style: none;
}

.highlight_font{
	color : red;
}

.sub_title{
	/* color : #856f92; */
	color : #ccb87c;
	font-weight: 500;
}

.header-lantern-left {
	position: absolute;
	background-size: 80%;
	left: 0;
	z-index: 2;
	background-repeat: no-repeat;
	width: 21%;
	height: 21%;
	background-image: url('../img/assets/lantern.png');
}

.header-lantern-right {
	position: absolute;
	background-size: 80%;
	right: -4rem;
	z-index: 2;
	background-repeat: no-repeat;
	width: 20%;
	height: 20%;
	background-image: url('../img/assets/lantern.png');
}


.dash-item {
	background-color: #fafafa;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: #727272;
	height: 15rem;
	padding: 0.5rem 1rem;
	margin: 2rem;
	font-size: 15px;
	font-family: "Mulish", sans-serif;
	color: #3d3d3d;
}

.text-black {
	color: #121212;
}

/* 게시판 상세보기 textarea */
.blog__details__form form textarea.txtAreaLarge{
	height:500px;
}

.sub-title {
	display: inline-block;
	color: #fafafa;
	font-size: 1.2rem;
	font-family: "Mulish", sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 0.2rem 1rem;
	background-color: #3d3d3d;
	text-decoration: none;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.side-nav-back {
	background-color: rgba(255,255,255,0.1);
	border-radius: 1rem;
	text-align: center;
	padding: 1rem 0 0.5rem 0;
}

.board-detail {
	background-color: transparent !important;
	border: none !important;
	color: #fafafa;
	margin-bottom: 0.5rem;
	position: relative;
}

.board-detail.board-title {
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Mulish", sans-serif;
}

.board-detail textarea{
	background-color: transparent !important;
	border: none !important;
	color: #fafafa;
	margin-top: 3rem;
	font-size: 1rem;
	font-family: "Oswald", sans-serif;
	width: 100%;
	resize: none;
	overflow: hidden;
}

.modal-content {
	color: black;
	background: rgba(255,255,255,0.8);
}

.small-gray-btn {
	font-size: 13px;
	color: #fafafa;
	background: #3d3d3d;
	display: inline-block;
	padding: 2px 10px;
	border-radius: 4px;
	left: 10px;
	bottom: 10px;
}

.modal {
	color: gray;
}

.modal-title {
	color: gray;
}

.input-group-text label {
	margin: 0px;
	padding: 0px;
}

.bookName {
	max-width: 150px;
}

#blackTable {
	border-spacing: 2px;
	border-collapse: separate;
}

#blackTable tr td {
	min-width: 50px;
	font-size: medium;
}

#blackTable tr td:first-child {
	max-width: 50px;
}

.genreSel {
	max-width: 100px;
}

#cardText input {
	border: none;
	padding: 2px;
	max-width: 130px;
}

.img-thumbnail {
	background-color: #B7B7B7;
}

.staffInfoList ul {
	min-width: 70%;
}

.staffInfoList ul :nth-child(2) {
	min-width: 70%;
}

.staffInfoList ul, .staffInfoList ul :nth-child(2) {
	min-width: 70%;
}

.input-group-text {
	min-width: 130px;
}

#imgs {
	min-width: 400px;
}

.custom-select {
	max-width: 70%;
	min-height: 51px;
}




.membership-bronze{
	background: #ccb87c;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
}

.membership-silver{
	background: #727272;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
}

.membership-vip{
	background: #5047eb;
	border-radius: 0.25rem;
	padding: 0.25rem 0.5rem;
}

.membership-box{
	display : flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1 0 0%;
	position : relative;
	
	padding: 1.5rem;
	margin: 0 0.75rem 1rem 0.75rem;
	align-items: center;
	border: 1px solid #8972ee;
	border-radius: 0.5rem;
}

.membership-class-title{
	margin : 2rem 0;
	color : #03dac6;
	font-weight: 700;
}

.ul > .mebership-li{
	list-style: none;
	margin : 0;
	padding : 0.5rem 0;
	display : flex;
	align-items: center;
}

.card .book-rantal{
	background: #007bff;
	text-align: center;
}

.card .book-return{
	background: #dc3545;
	text-align: center;
}

.card-body .book-btn{
	display: block;	
}

form .addr-box{
	margin-right: 0; 
    margin-left: 0;
	justify-content: space-between;
}

.login__form form .input__item .btn{
	padding-left: 0;
}

form .form-control::placeholder {
	color: #b7b7b7;
}

.w-70 {
  width: 70% !important;
}


.off-line{
	border: 2px solid #eee;
	background: #eee;
}

.study-room{
	display : flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 1 0 0%;
	position : relative;
	padding: 1rem;
}

.study-room .room01,
.study-room .room03{
	border: 2px solid #5047eb;
}

.study-room .room02{
	border: 2px solid #3898EC;
}